#page-inner{
background-color:transparent;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  font-size: 14px;
}

.logo {
  font-size: 20px;
  letter-spacing: 2px;
}

nav a {
  margin-left: 24px;
  text-decoration: none;
  color: #000;
}

.grid-wrapper {
  width: 100%;          /* use full available space */
  margin: 0;       /* center the entire layout */
  padding: 0 25px;      /* equal spacing on left and right */
  box-sizing: border-box;
}

/* Masonry gutters */
.grid {
  margin: 0 auto;
}

/* 4 columns, gutter = 20px */
.grid-sizer,
.grid-item {
  width: calc(25% - 20px);
}

.grid-item {
  margin-bottom: 20px; /* vertical spacing */
}

.grid-item img {
  width: 100%;
  display: block; /* fixes weird gaps under images */
}
/* @media (max-width: 1200px) { */
/*   .grid { column-count: 3; } */
/* } */
/**/
/* @media (max-width: 900px) { */
/*   .grid { column-count: 2; } */
/* } */
/**/
/* @media (max-width: 600px) { */
/*   .grid { column-count: 1; } */
/* } */
/**/
